<div class="container">
  <h1>Deaf Grandma</h1>
  <span id="grandma_says"></span>
  <form action="/grandma" method="POST">
    Say something to Grandma:
    <br>
    <input id="user_input" type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>
</div>


